body {
    background-color: #009949;
}

.game-button {
    border: 3px solid black;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    height: 0;
    padding-bottom: 22%;
    width: 22%;
}

.game-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#red-button {
    background-color: rgb(216, 0, 0);
}

#red-button.pressed {
    background-color: #fd7575;
}

#green-button {
    background-color: green;
}

#green-button.pressed {
    background-color: #2ff12f;
}


#blue-button {
    background-color: blue;
}

#blue-button.pressed {
    background-color: #5db3fa;
}


#yellow-button {
    background-color: rgb(197, 197, 0);
}

#yellow-button.pressed {
    background-color: #fff99f;
}

.hidden {
    display: none;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.control-button {
    background: rgb(223, 20, 172);
    border: 3px solid black;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    line-height: 1.25;
    margin: 24px;
    padding: 16px 42px;
    text-decoration: none;
    text-transform: uppercase;
}

#fail-gif {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute; 
    right: 0; 
    top: 0;
    width: 100px;
    z-index: 99;
}


#fail-gif.hidden {
    display: none;
    transition: visibility 0s 2s, opacity 2s linear;
}